<p id="notice"><%= notice %></p>


<h1><strong><%= [@game.user1.username, @game.user2.username].join( " VS ") %></strong></h1>

<%= result_for_game(@game) %>

<%= current_turn_for_game(@game) %>

<%= render 'games/table' %>

<%= link_to 'Back', games_path %>

