<p id="notice"><%= notice %></p>


<p>
  <strong><%= [@game.user1.username, @game.user2.username].join( " VS ") %></strong>
</p>

<% if @game.game_won? %>
  <h1>WINNER!</h1>
<% elsif @game.game_drawn? %>
  <h1>DRAW!</h1>
<% end %>

<% if @game.whose_move?.id == current_user.id %>
<p>Your Turn!</p>
<% end %>

<%= render 'games/table' %>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>

