<p id="notice"><%= notice %></p>

<table>
<% table = (0..8).to_a %>
<% table.each_slice(3) do |slice| %>
<tr>
  <% slice.each do |cell| %>
  <td>
    <% if @game.moves.find_by_value(cell) && @game.moves.find_by_value(cell).user_id == @game.user1_id %>
    <%= "x" %>
    <% elsif @game.moves.find_by_value(cell) && @game.moves.find_by_value(cell).user_id == @game.user2_id %>
    <%= "o" %>
    <% else %>
    <%= " " %>
    <% end %>
  </td>
  <% end %>
</tr>
<% end %>
  
</table>
<p>
  <strong>User1:</strong>
  <%= @game.user1_id %>
</p>

<p>
  <strong>User2:</strong>
  <%= @game.user2_id %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
