<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>

  <title><%= content_for?(:title) ? yield(:title) : "StreetFighter TicTacToe" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
  <div class="contain-to-grid sticky">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">TicTacToe</a></h1>
      </li>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Left Nav Section -->
      <ul class="left">
        <li><a href="/">Home</a></li>
        <li><a href="/games">All Fights!</a></li>
        <li><a href="/games/new">New Fight!</a></li>
        <li><a href="/users">All Fighters!</a></li>
      </ul>
      <ul class="right">
        <% if user_signed_in? %>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
          <li>
            <%= link_to user_path(current_user) do %>
              <%= image_tag(current_user.user_image.topbarthumb) %>
              <%= current_user.username %>
            <% end %>
          </li>

      </ul>
        <% else %>
        <ul>
          <li><%= link_to "Login", new_user_session_path %></li>
          <li><%= link_to "Create an account", new_user_registration_path %></li>
        <% end %>
      </ul>
    </section>
  </nav>
</div>

  <body class="row">

    <%= yield %>

  </body>
</html>
